<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://unpkg.com/sweetalert/dist/sweetalert.css">

<script>
  document.addEventListener('DOMContentLoaded', () => {
    {% if messages %}
      {% for message in messages %}
        swal({
          title: "{% if message.tags == 'success' %}Success{% elif message.tags == 'error' %}Error{% elif message.tags == 'warning' %}Warning{% else %}Info{% endif %}",
          text: "{{ message }}",
          icon: "{% if message.tags == 'success' %}success{% elif message.tags == 'error' %}error{% elif message.tags == 'warning' %}warning{% else %}info{% endif %}",
          button: "OK",
        });
      {% endfor %}
    {% endif %}
  });
</script>