{% extends 'c_admin/base.html' %}

{% block content %}
            <section class="content-main">
                <div class="row">
                    <div class="col-9">
                        <div class="content-header">
                            <h2 class="content-title">Add New Offer</h2>
                           
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card mb-4">
                            <div class="card-header">
                                <h4>Basic</h4>
                            </div>
                            {% include 'includes/messege.html' %}
                            <div class="card-body">
                                <form method = "POST">
                                    {% csrf_token %}
                                    
                                    <div class="mb-4">
                                        <label for="product_name" class="form-label">Offer title</label>
                                        <input type="text" placeholder="Type here" class="form-control" id="product_name" name = "title"/>
                                    </div>
                                    <div class="mb-4">
                                        <label for="product_name" class="form-label">Start date</label>
                                        <input type="date" placeholder="Type here" class="form-control" id="product_name" name = "start_date"/>
                                    </div>
                                   
                                    <div class="mb-4">
                                        <label for="product_name" class="form-label">End date</label>
                                        <input type="date" placeholder="Type here" class="form-control" id="product_name" name = "end_date"/>
                                    </div>
                                    <div class="mb-4">
                                        <label class="form-label">Discount percentage</label>
                                        <input type="text" placeholder="%" class="form-control" id="product_name" name = "discount_percentage" min="0" max="99" required />
                                    </div>
                                    <button class="btn btn-md rounded font-sm hover-up" type="submit">Add</button> 
                                </form>
                            </div>
                        </div>
                       
                       
                    </div>
                   
                </div>
            </section>
            <!-- content-main end// -->
           {% endblock %}