{% extends 'c_admin/base.html' %}

{% block content %}
            <section class="content-main">
                <div class="content-header">
                    <h2 class="content-title">Product list</h2>
                    <div>
                        <a href="{% url 'add_product' %}" class="btn btn-primary"><i class="material-icons md-plus"></i> Create new</a>
                    </div>
                </div>
                <div class="card mb-4">
                    <header class="card-header">
                        <div class="row gx-3">
                            
                        <form method = "POST" action = {% url 'stock_report' %}>
                                {% csrf_token %}
                            
                            <div class="col-lg-2 col-md-3 col-6 mt-4">
                                <select class="form-select" name="download_format">
                                    <option value="" disabled selected>Select Download Format</option>
                                    <option value="pdf">PDF</option>
                                    <option value="excel">Excel</option>
                                    
                                </select>
                            </div>
                            <div>
                            <button type="submit" class="btn btn-primary">Download Stock report</button>
                            </div> 
                
                        </form>
                            {% comment %} <div class="col-lg-2 col-md-3 col-6">
                                <select class="form-select">
                                    <option>Status</option>
                                    <option>Active</option>
                                    <option>Disabled</option>
                                    <option>Show all</option>
                                </select>
                            </div>
                            <div class="col-lg-2 col-md-3 col-6">
                                <select class="form-select">
                                    <option>Show 20</option>
                                    <option>Show 30</option>
                                    <option>Show 40</option>
                                </select>
                            </div> {% endcomment %}
                        </div>
                    </header>
                    <!-- card-header end// -->
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr> 
                                        <th>Name</th>
                                        <th>Brand</th>
                                        <th>Category</th>
                                        <th>Status</th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for product in products %}
                                    <tr>
                                        
                                        <td width="40%">
                                            <a href="{% url 'admin_variant_list' product.id %}" class="itemside">
                                               
                                                <div class="info pl-3">
                                                    <h6 class="mb-0 title">{{product.name}}</h6>
                                                    <small class="text-muted">Product ID: #{{product.id}}</small>
                                                </div>
                                            </a>
                                        </td>
                                        <td>{{product.brand.name}}</td>
                                        <td>{{product.category.name}}</td>
                                        
                                        {% if product.is_deleted %}
                                        <td>
                                            <a href="" class="btn btn-sm btn-danger rounded font-sm mt-15">unlisted</a>

                                        </td>

                                        {% else %}
                                        <td class="text-end">
                                            <a href="" class="btn btn-sm btn-primary rounded font-sm mt-15">listed</a>

                                        </td>
                                        {% endif %}
                                        
                                        
                                        
                                    </tr>
                                    {% endfor %}
                                   
                                    
                                   
            
                                </tbody>
                            </table>


                            <!-- table-responsive.// -->
                        </div>
                    </div>
                    <!-- card-body end// -->
                </div>
                <!-- card end// -->
                <div class="pagination-area mt-15 mb-50">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-start">
                            <li class="page-item active"><a class="page-link" href="#">01</a></li>
                            <li class="page-item"><a class="page-link" href="#">02</a></li>
                            <li class="page-item"><a class="page-link" href="#">03</a></li>
                            <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                            <li class="page-item"><a class="page-link" href="#">16</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </section>
            <!-- content-main end// -->
            {% endblock %}
            